@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.card1{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: auto;
    border: 1px solid var(--light-grey-color);
    position: absolute;
    top: 8rem;
    left: 35%;
    align-items: center;

}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    align-self: center;
    font-family: 'Allura', cursive;
    font-size: 2.3rem;
}

.userprofile-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 40%;
    align-items: flex-start;
    border: solid 0.1rem var(--light-grey-color);
    padding: 1rem;
}

.userprofile-container div {
    padding: 1rem;
}