@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #475569;
  --white-color: #f8fafc;
  --light-grey-color: #e5e7eb;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  margin: 0 auto;
}

.container {
  display: flex;
}
.filter-container {
  flex-direction: column;
  width: 15rem;
  padding: 1rem;
  padding-top: 5rem;
}

.sortby-container {
  text-align: end;
}

.main-container {
  padding: 1rem 2rem 2rem 2rem;
}

.link {
  text-decoration: none;
}

.list-non-bullet {
  list-style: none;
  padding: 1rem;
}

.list-inline {
  display: inline;
  padding: 1rem;
  color: var(--white-color);
  cursor: pointer;
}

.heading {
  font-weight: normal;
  font-size: 32px;
  padding: 1rem;
  color: var(--white-color);
  font-family: 'Allura', cursive;
}

.navigation {
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.cart-container {
  display: flex;
  padding: 1rem;
}

.card-container{
  flex: 3;
  flex-wrap:wrap;
}

.pricing-container {
  flex: 1;
  padding: 1rem;
}


.card-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #d1d5db; */
  border: none;
  width: 19rem;
  height: 27rem;
  padding: 0.5rem;
  margin: 1rem;
  justify-content: start;
  position: relative;
 
}
.card h5, p {
  margin: 0;
}
.card-horizontal {
  display: flex;
  flex-direction: row;
  width: 35rem;
  height: 13rem;
  border: 0.1rem solid var(--light-grey-color);

}

.img-container {
  height: 19rem;
}
.img-horizontal-container {
  height: 12rem;
  width: 9rem;
  padding: 0.5rem;
}
.content-container{
  padding-left: 2rem;
  align-content: flex-start;
  text-align: start;
}

.card-img {
  max-width: 100%;
  height: 100%;
}

.btn {
  padding: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  margin: 0.2rem;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  border: 0.1rem solid var(--primary-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  outline: var(--primary-color);

}
.btn-a{
 height: 1.3rem;
 width: 9.5rem;
}

.btn-absolute{
  position: absolute;
  bottom: 0.4rem;
  left: 5rem;
}

.btn-dark {
  background-color: transparent;
  color: var(--primary-color);
}

.btn-small {
  width: 2rem;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 0.4rem;
}

.btn-remove {
  position: absolute;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-color);
}

.badge {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

.wishlist-badge {
  position: absolute;
  top: 1.2rem;
  right: 2.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color:var(--white-color);
  border-radius: 50%;
  color: var(--light-grey-color);
}
.badge-liked {
  color: #B91C1C;
}
.badge-unliked {
  color: var(--white-color);
}


.remove-badge {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;

}

